In [7]:
import psycopg2
import sys, os
import numpy as np
import pandas as pd
import src/db_credentials as creds
# import load_pd_dataframe as load_df
import pandas.io.sql as psql
from pandas import ExcelWriter
from pandas import ExcelFile
import matplotlib
import matplotlib.pyplot as plt
import openpyxl

SyntaxError: invalid syntax (<ipython-input-7-ffba7fb64e71>, line 5)

In [ ]:
#Set up a connection to the postgres server
conn_string = "dbname='impulsify' user='postgres' host='localhost'"
conn=psycopg2.connect(conn_string)
print("Connected!")

#Create a cursor object
cursor = conn.cursor()

def load_pd_dataframe(table, schema='public'):
    sql_command = "SELECT * FROM {}.{};".format(str(schema), str(table))
    print(sql_command)
    
    #Load the data
    data = pd.read_sql(sql_command, conn)
    print(data.shape)
    return data

In [2]:
properties = load_pd_dataframe('properties')
properties

NameError: name 'load_pd_dataframe' is not defined

In [3]:
columns = list(properties)
columns

NameError: name 'properties' is not defined

In [51]:
property_templates = load_pd_dataframe('property_templates')
property_templates

SELECT * FROM public.property_templates;
(3349, 21)

,id,brand_id,management_company_id,property_code,address,city,state,zip,phone,kind,...,created_at,updated_at,store_qty,name,flag_id,fax,currency_id,time_zone,rooms,location_type
0,1,1,NaN,ANCAG,4555 Union Square Drive,Anchorage,AK,99503,9077297000,None,...,2014-06-30 01:08:01,2014-06-30 01:08:01,1,Hilton Garden Inn Anchorage,1,9077298000,1,Alaska,125.0,None
1,11,1,NaN,AUOAP,2555 Hilton Garden Drive,Auburn,AL,36830,3345023500,None,...,2014-06-30 01:08:07,2014-06-30 01:08:07,1,Hilton Garden Inn Auburn/Opelika,1,3345023572,1,Central Time (US & Canada),101.0,None
2,21,1,NaN,BHMLP,2090 Urban Center Parkway,Birmingham,AL,35242,2055035220,None,...,2014-06-30 01:08:14,2014-06-30 01:08:14,1,Hilton Garden Inn Birmingham SE/Liberty Park,1,2055035221,1,Central Time (US & Canada),130.0,None
3,31,1,NaN,BHMTR,3230 Edwards Lake Parkway,Birmingham,AL,35235,2056555222,None,...,2014-06-30 01:08:14,2014-06-30 01:08:14,1,Hilton Garden Inn Birmingham/Trussville,1,2052281306,1,Central Time (US & Canada),104.0,None
4,41,1,NaN,BHMLD,520 Wildwood Circle Drive North,Birmingham,AL,35209,2053140274,None,...,2014-06-30 01:08:13,2014-06-30 01:08:13,1,Hilton Garden Inn Birmingham/Lakeshore Drive,1,2053140275,1,Central Time (US & Canada),95.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3344,33491,1,NaN,YUBCA,1375 Sunsweet Blvd,Yuba City,CA,95991,5307511714,None,...,2014-06-30 01:11:13,2014-06-30 01:11:13,1,Hampton Inn & Suites Yuba City,21,5307512889,1,None,88.0,None
3345,33501,1,NaN,YUMAZ,1600 East 16th Street,Yuma,AZ,85365,9283295600,None,...,2014-06-30 01:11:13,2014-06-30 01:11:13,1,Hampton Inn & Suites Yuma,21,9283295601,1,None,90.0,None
3346,33511,1,NaN,YUMHW,1955 East 16th Street,Yuma,AZ,85365,9287824100,None,...,2014-06-30 01:11:13,2014-06-30 01:11:13,1,Homewood Suites by Hilton Yuma,11,9287824109,1,None,108.0,None
3347,33521,1,NaN,ZZVOH,1009 Spring Street,Zanesville,OH,43701,7404536511,None,...,2014-06-30 01:11:13,2014-06-30 01:11:13,1,Hampton Inn Zanesville,31,7404502899,1,None,63.0,None
3348,33531,1,11.0,YTOMI,5515 Eglinton Avenue West,Toronto,ON,M9C 5K5,4166464600,Extended Stay,...,2014-07-24 16:29:50,2014-07-28 04:06:53,1,Homewood Suites by Hilton Toronto Airport Corp...,11,4166464600,11,Eastern Time (US & Canada),0.0,None

In [52]:
properties.sort_values(by='rooms')

,id,brand_id,property_code,address,city,state,zip,sales_tax_rate,alcohol_tax_rate,tobacco_tax_rate,...,clearance_fixed_discount,markdown_fixed_discount,other_fixed_discount,employee_fixed_discount_name,preferred_guest_fixed_discount_name,contracted_rate_fixed_discount_name,promotional_fixed_discount_name,clearance_fixed_discount_name,markdown_fixed_discount_name,other_fixed_discount_name
501,6987,41,IRNWD-APTS,339 Railroad ave,North Augusta,SC,29841,6.000,0.00,0.0,...,NaN,NaN,NaN,Employee,Preferred Guest,Contracted Rate,Promotional,Clearance,Markdown,Other
735,7045,21,IHG - LAXFS,899 Francisco St,Los Angeles,CA,90017,0.000,0.00,0.0,...,NaN,NaN,NaN,Employee,Preferred Guest,Contracted Rate,Promotional,Clearance,Markdown,Other
692,7092,41,BLDRD,1348 Passenger St.,Chattanooga,TN,37402,9.250,9.25,0.0,...,NaN,NaN,NaN,Employee,Preferred Guest,Contracted Rate,Promotional,Clearance,Markdown,Other
304,6749,38,TIGAR,4860 Van Gordon St,Wheat Ridge,CO,80033,8.000,0.00,0.0,...,NaN,NaN,NaN,Employee,Preferred Guest,Contracted Rate,Promotional,Clearance,Markdown,Other
1006,6732,11,123,test,test,TN,80220,1.000,0.00,0.0,...,NaN,NaN,NaN,Employee,Preferred Guest,Contracted Rate,Promotional,Clearance,Markdown,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
675,6966,21,DUP-IHG-ATLPW,590 West Peachtree NW,Atlanta,GA,30308,0.000,0.00,0.0,...,NaN,NaN,NaN,Employee,Preferred Guest,Contracted Rate,Promotional,Clearance,Markdown,Other
118,7557,42,HNLAS,2570 Kalakaua Ave.,Honolulu,HI,96815,4.712,0.00,0.0,...,6.0,3.0,NaN,Employee,Preferred Guest,Free Tote Bag,Promotional,Dole Whip,Coffee,Other
321,7049,21,IHG - ZYBEA,7350 Ingersoll Road Bldg 1670,Fort Benning,GA,31905,8.000,0.00,0.0,...,NaN,NaN,NaN,Employee,Preferred Guest,Contracted Rate,Promotional,Clearance,Markdown,Other
242,7088,21,ZYLEB,9501 Mahone Ave,Fort Lee,VA,23801,0.000,0.00,0.0,...,NaN,NaN,NaN,Employee,Preferred Guest,Contracted Rate,Promotional,Clearance,Markdown,Other
66,7009,21,ZYLEA,2301 Mohone Ave,Fort Lee,VA,23801,0.000,0.00,0.0,...,NaN,NaN,NaN,Employee,Preferred Guest,Contracted Rate,Promotional,Clearance,Markdown,Other

In [50]:
print(property_templates.loc[property_templates['location_type'] != 'None'])

id  brand_id  management_company_id property_code  \
0         1         1                    NaN         ANCAG
1        11         1                    NaN         AUOAP
2        21         1                    NaN         BHMLP
3        31         1                    NaN         BHMTR
4        41         1                    NaN         BHMLD
...     ...       ...                    ...           ...
3344  33491         1                    NaN         YUBCA
3345  33501         1                    NaN         YUMAZ
3346  33511         1                    NaN         YUMHW
3347  33521         1                    NaN         ZZVOH
3348  33531         1                   11.0         YTOMI

                                  address                       city state  \
0                 4555 Union Square Drive                  Anchorage    AK
1                2555 Hilton Garden Drive                     Auburn    AL
2               2090 Urban Center Parkway                 Birmingham    AL
3               3230 Edwards Lake Parkway                 Birmingham    AL
4         520 Wildwood Circle Drive North                 Birmingham    AL
...                                   ...                        ...   ...
3344  1375 Sunsweet Blvd                   Yuba City                    CA
3345  1600 East 16th Street                Yuma                         AZ
3346  1955 East 16th Street                Yuma                         AZ
3347  1009 Spring Street                   Zanesville                   OH
3348            5515 Eglinton Avenue West                    Toronto    ON

          zip       phone           kind  ...           created_at  \
0       99503  9077297000           None  ...  2014-06-30 01:08:01
1       36830  3345023500           None  ...  2014-06-30 01:08:07
2       35242  2055035220           None  ...  2014-06-30 01:08:14
3       35235  2056555222           None  ...  2014-06-30 01:08:14
4       35209  2053140274           None  ...  2014-06-30 01:08:13
...       ...         ...            ...  ...                  ...
3344    95991  5307511714           None  ...  2014-06-30 01:11:13
3345    85365  9283295600           None  ...  2014-06-30 01:11:13
3346    85365  9287824100           None  ...  2014-06-30 01:11:13
3347    43701  7404536511           None  ...  2014-06-30 01:11:13
3348  M9C 5K5  4166464600  Extended Stay  ...  2014-07-24 16:29:50

              updated_at store_qty  \
0    2014-06-30 01:08:01         1
1    2014-06-30 01:08:07         1
2    2014-06-30 01:08:14         1
3    2014-06-30 01:08:14         1
4    2014-06-30 01:08:13         1
...                  ...       ...
3344 2014-06-30 01:11:13         1
3345 2014-06-30 01:11:13         1
3346 2014-06-30 01:11:13         1
3347 2014-06-30 01:11:13         1
3348 2014-07-28 04:06:53         1

                                                   name flag_id         fax  \
0                           Hilton Garden Inn Anchorage       1  9077298000
1                      Hilton Garden Inn Auburn/Opelika       1  3345023572
2          Hilton Garden Inn Birmingham SE/Liberty Park       1  2055035221
3               Hilton Garden Inn Birmingham/Trussville       1  2052281306
4          Hilton Garden Inn Birmingham/Lakeshore Drive       1  2053140275
...                                                 ...     ...         ...
3344                     Hampton Inn & Suites Yuba City      21  5307512889
3345                          Hampton Inn & Suites Yuma      21  9283295601
3346                     Homewood Suites by Hilton Yuma      11  9287824109
3347                             Hampton Inn Zanesville      31  7404502899
3348  Homewood Suites by Hilton Toronto Airport Corp...      11  4166464600

     currency_id                   time_zone  rooms  location_type
0              1                      Alaska  125.0           None
1              1  Central Time (US & Canada)  101.0           None
2              1  Central Time (US & Canada)  130.0           None
3              1  Central Time (US & Canada)  104.0           None
4              1  Central Time (US & Canada)   95.0           None
...          ...                         ...    ...            ...
3344           1                        None   88.0           None
3345           1                        None   90.0           None
3346           1                        None  108.0           None
3347           1                        None   63.0           None
3348          11  Eastern Time (US & Canada)    0.0           None

[3349 rows x 21 columns]

In [73]:
performance_2019 = pd.read_excel('../data/2019_sales_by_month.xlsx')
print (performance_2019)

Property Name Property Code  Brand  \
0                        Hilton Garden Inn Times Square         NYCMW  Hilto
1                          InterContinental New Orleans         MSYHA  Inter
2     DoubleTree Suites by Hilton Hotel Boston - Cam...         BOSSB  Doubl
3       Hilton Garden Inn New Orleans Convention Center         MSYGI  Hilto
4             Crowne Plaza Fredericton-Lord Beaverbrook         YFCQS  Crown
...                                                 ...           ...    ...
4502                     Hilton Garden Inn Wilkes Barre         AVPWI  Hilto
4503    Hampton Inn & Suites Birmingham Hoover Galleria         BHMRC  Hampt
4504  Tru by Hilton Nashville Downtown Convention Ce...         BNARU  Tru b
4505                   Hampton Inn Raleigh/Clayton I-40         RDUCL  Hampt
4506                                                NaN           NaN   4506

          #Rooms             Management Company Registration Date  \
0     369.000000          Highgate Hotels, Inc.        2017-10-06
1     484.000000  Dimension Development Company        2018-08-17
2     308.000000               Hilton Worldwide        2018-04-10
3     286.000000  Interstate Hotels and Resorts        2018-06-27
4     169.000000             IHG - Crowne Plaza        2018-09-26
...          ...                            ...               ...
4502  123.000000               High Hotels Ltd.        2015-02-16
4503  102.000000           Aum Enterprises Inc.        2015-06-27
4504  116.000000               Kana Hotel Group        2019-03-25
4505   72.000000                 We Care Hotels        2018-09-04
4506  152.840435                            NaN               NaT

     Activation Date     Last Transaction       Revenue  Profit Margin  \
0         2017-10-27  2019-02-01 03:49:00  48190.590000        0.72970
1         2018-09-20  2019-02-01 05:39:00  22829.800000        0.67301
2         2018-06-11  2019-02-01 04:58:00  22488.700000        0.69884
3         2018-09-04  2019-02-01 05:52:00  15917.050000        0.84608
4         2019-02-11  2019-03-01 03:58:00    544.450000        0.56147
...              ...                  ...           ...            ...
4502      2015-06-02  2020-01-01 01:40:00    563.390000        0.61661
4503      2015-09-09  2019-12-31 23:59:59    562.500000        0.76224
4504      2019-07-16  2019-12-10 17:14:00    546.750000        0.65624
4505      2018-09-29  2020-01-01 03:32:00    509.410000        0.93477
4506             NaT               1.3455   4281.881871        0.65078

      Gross Profit  Pend Prod  Neg Inv  Low Prod Sales  Shift Rep Days  \
0     35164.640000       76.0    119.0             NaN     a long time
1     15364.720000       69.0     86.0            99.0        6 months
2     15715.960000       36.0    165.0             NaN        6 months
3     13467.050000      142.0    239.0             NaN          7 days
4       305.690000        NaN      1.0             NaN  about 21 hours
...            ...        ...      ...             ...             ...
4502    347.390000       12.0      8.0           124.0   about 1 month
4503    428.760000       98.0    214.0            55.0       11 months
4504    358.800000       21.0    178.0             NaN        5 months
4505    476.180000       81.0      2.0             NaN  about 2 months
4506   2786.563009        NaN      NaN             NaN             NaN

      PMS Port              Column1 Month of Reporting
0      35010.0  Details Use Archive            January
1       5011.0  Details Use Archive            January
2      35010.0  Details Use Archive            January
3      35010.0  Details Use Archive            January
4       5011.0  Details Use Archive           February
...        ...                  ...                ...
4502   35010.0  Details Use Archive           December
4503   35010.0  Details Use Archive           December
4504   35010.0  Details Use Archive           December
4505   35010.0  Details Use Archive           December
4506       NaN                  NaN                NaN

[4507 rows x 18 columns]